@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


*{
     font-family: "Oswald", sans-serif;
       font-style: normal;
}

.bg-orange{
    background-color: #FFA500;
}
.bg-dark{
    background-color: #151515;
}
.text-dark{
   color: #151515;
}
.text-orange{
    color: #FFA500;
}

